/*

--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
DEFAULT:400
MEDIUM: 500
Semi-bold: 600
BOLD: 700

- Line heights: 
Default: 1
Small: 1.05
Paragraph: 1.6

--- COLORS

-Primary:#a62d40
#c16c79
#edd5d9
-Tints:
-Shades: 
-Accents: 
-Greys: 
#000
#222
#333

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px/16px = 0.625rem = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

/*******************************/
/* GENERAL RESUABLE COMPONENTS */
/*******************************/

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
