* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

/* Hero Section  */

.Hero_container {
  height: 90vh;
  background-color: #146c94;
  padding-left: 5rem;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
}

h1 {
  font-size: 100px;
  font-family: sans-serif;
  color: white;

  grid-row-start: 2;
  grid-column-start: 1;
  justify-items: center;

  z-index: 1;
}

.there {
  background-color: #19a7ce;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.sub-heading {
  font-size: 30px;
  font-family: sans-serif;
  color: #19a7ce;

  grid-row-start: 3;

  z-index: 1;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #19a7ce;

  position: absolute;
  top: 370px;
  left: 550px;
}

.laptop-img {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column: span 2;
  grid-row: span 2;
  /* min-width: 0;
  min-height: 0; */
}

/* Resume Section  */

.Resume_container {
  height: 50vh;
  background-color: #afd3e2;

  display: flex;

  align-items: center;
}

.Resume_list {
  height: 290px;
  background-color: #146c94;
  list-style: none;
  border-radius: 10px;
  margin-left: 50px;

  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

.Resume_list li {
  padding: 13px;
}

/* About Section  */
.About_container {
  height: 50vh;
  background-color: #19a7ce;
}

.About_container h2 {
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 63px;
}

.About_container p {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 37px;
}

/* Contact Section  */
.contact {
  background-color: #146c94;
  height: 115px;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  padding-top: 20px;
  padding-left: 20px;
}

.email {
  font-size: 20px;
}
